h1 {
    padding-left: 2%;
}

p {
    font-size: large;
}

button {
    display:block;
}
  
li {
    list-style-type: none;
}

#start-button {
    color: rgb(216, 67, 67);
}

#view-scores button {
    color: rgb(216, 67, 67);
}